.gc-icon.gc-icon-download {display:none!important;}
.rupee{font-size:20px;}
.wl-access-aid{height: 1px;
    left: -500em;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    text-indent: -9999em;
    top: 0;
    width: 1px;
}
.select-size .list-inline a{display:block; width:20px; height:20px; text-align:center; font-size:11px; border:1px solid #ccc; padding:2px 0; color:#181a1c; margin-right:4px;}
.select-size .list-inline a:hover{text-decoration:none; background:#E8784C; color:#fff; border-color:#E8784C;}
.select-size .list-inline li{padding:0;}
.product-option{
    margin: 75px 0 0 26px;
}
.related-product{display:table; padding-left:0;}
.related-product .list-group i {border: 1px solid #e8784c;
    border-radius: 50%;
    color: #e8784c;
    display: block;
    font-size: 17px;
    height: 30px;
    padding: 6px 0;
    position: absolute;
    text-align: center;
    width: 30px;}
.related-product .list-group li{position:relative; margin-bottom:-1px; padding:10px 6px;}
.related-product .list-group span {
    display: block;
    font-size: 12px;
    line-height: 16px;
    padding-left: 34px;
    position: relative;
}
.related-product .list-inline {margin:0;}
.related-product .list-inline li{display:inline-block; vertical-align:middle; width:49%; padding:1px}
.related-product a{display:block;  height:80px;}
.related-product li:first-child a{background:rgba(247,124,76,.5); color:#fff; font-size:11px; line-height:15px; padding:8px;}
.related-product a img{width:100%; height:100%;}
.single-product-detail h3 { font-weight:lighter;}
.single-product-detail p{line-height:20px; color:#181a1c;}
.single-product-detail .btn-default{background:transparent; border-radius:0;}
.single-product-detail .btn-default:hover{background:#E8784C; color:#fff; border-color:#E8784C;}

.tabs {
  width: 280px;
  padding:0;
  float: none;
  list-style: none;
  position: relative;
  text-align: left;
  z-index:9;
  border-bottom: 1px solid #ccc;
  position:relative;
}

.tabs li {
  float: left;
  display: block;
}

.tabs input[type="radio"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.tabs .tab-label {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top: 3px solid transparent;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: normal;
	margin-right:5px;
    padding: 8px;
	min-width:10px;
	text-align:center;
    position: relative;
    top: 4px;
    transition: all 0.2s ease-in-out 0s;
}
.tabs .tab-label:hover {
    background: #e16666;
    color: #fff;
}
.tabs .tab-content {
    display: none;
    font-size: 13px;
    left: 0;
    line-height: 25px;
    overflow: hidden;
    position: absolute;
    top: 53px;
    width: 100%;
    z-index: 2;
}

.tabs [id^="tab"]:checked +  .tab-label {
    border-bottom: 3px solid #fff;
    border-color: #e16666 #ccc #fff;
    margin-bottom: -12px;
}

.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}

/*for bulk pop up*/
.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  z-index:999;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #555;
  opacity:1;
}
.popup .close:hover {
  color: #E8784C;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
.popup .form-horizontal .control-label {
	text-align:left;
}
.popup .form-horizontal .form-group {
margin-left:0;
margin-right:0;
}
.popup h3{padding-left:15px;}
@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

@media only screen and (max-width: 766px) {
.single-product-detail{margin-top:20px;}
.related-product .list-inline li{width:100%; padding:0; margin-top:10px;}
.related-product .list-inline li a{height:auto;}
}

/*	glasscase	*/
.glass-case * {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    padding: 0;
    margin: 0;
    border: 0;
}

    .glass-case *:before, .glass-case *:after {
        -webkit-box-sizing: border-box !important;
        -moz-box-sizing: border-box !important;
        box-sizing: border-box !important;
    }

.glass-case {
    position: relative;
}
/*********************DISPLAY***************************/
.gc-display-area {
    position: absolute;
    overflow: hidden;
    border: 2px solid #b2b2b2;
    padding: 2px;
    background-color: #fff;
}

.gc-display-container {
    position: relative;
    overflow: hidden;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.gc-display-display {
    position: relative;
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    cursor: crosshair;
    opacity: 1;
}
/*********************LENS***************************/
.gc-lens {
    position: absolute;
    overflow: hidden;
    z-index: 1000;
    cursor: crosshair;
    background: #CECECE;
    opacity: .5 !important; /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 5-7 */
    filter: alpha(opacity=50) !important; /* Netscape */
    -moz-opacity: 0.5; /* Safari 1.x */
    -khtml-opacity: 0.5;
}
/*********************ZOOM***************************/
.gc-zoom {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: auto;
    z-index: 1040 !important;
    border: 2px solid #b2b2b2;
    padding: 2px;
    background-color: #fff;
}

.gc-zoom-inner {
    cursor: crosshair;
    border: 0 !important;
    left: -2px !important;
    top: -2px !important;
    margin: 0 !important;
    z-index: 1010 !important;
}

.gc-zoom-container {
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

    .gc-zoom-container img {
        position: relative;
        max-width: none !important;
    }
/*********************UL***************************/
.gc-thumbs-area {
    position: absolute;
    overflow: hidden;
    background-color: transparent;
}

.gc-thumbs-area-prev, .gc-thumbs-area-next {
    position: absolute;
    z-index: 1010;
}

.gc-thumbs-area.gc-hz .gc-thumbs-area-prev, .gc-thumbs-area.gc-hz .gc-thumbs-area-next {
    top: 0;
    height: 100%;
    min-height: 100%;
    width: 5%;
}

.gc-thumbs-area.gc-vt .gc-thumbs-area-prev, .gc-thumbs-area.gc-vt .gc-thumbs-area-next {
    left: 0;
    width: 100%;
    min-width: 100%;
    height: 5%;
}

.gc-thumbs-area.gc-hz .gc-thumbs-area-prev {
    left: 0;
}

.gc-thumbs-area.gc-hz .gc-thumbs-area-next {
    right: 0;
}

.gc-thumbs-area.gc-vt .gc-thumbs-area-prev {
    top: 0;
}

.gc-thumbs-area.gc-vt .gc-thumbs-area-next {
    bottom: 0;
}

.gc-thumbs-area-prev:hover, .gc-thumbs-area-next:hover {
    opacity: 1;
    cursor: pointer;
    cursor: hand;
}

.gc-thumbs-area-prev .gc-disabled, .gc-thumbs-area-next .gc-disabled, .gc-thumbs-area-prev .gc-disabled:hover, .gc-thumbs-area-next .gc-disabled:hover {
    opacity: .3; /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; /* IE 5-7 */
    filter: alpha(opacity=30); /* Netscape */
    -moz-opacity: 0.3; /* Safari 1.x */
    -khtml-opacity: 0.3;
    cursor: default;
}

.glass-case ul {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    border: 0;
    padding: 0;
    height: 100%;
    list-style: none;
}

    .glass-case ul li {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        border: 2px solid #b2b2b2;
        padding: 2px;
        background-color: #fff;
    }

.gc-thumbs-area.gc-hz li {
    display: inline;
    float: left;
    max-width: 100%;
    max-height: 100%;

    margin-right: 5px;
}

.gc-thumbs-area.gc-vt li {
    margin-bottom: 5px;
}

.glass-case ul li .gc-li-display-container {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: inline-block;
}

.glass-case ul li:hover {
    border-color: #4f4f4f;
    cursor: pointer;
    cursor: hand;
}

.glass-case ul li.gc-active, .glass-case ul li.gc-active:hover {
    border-color: #669966;
    cursor: default;
}

.glass-case ul li .gc-li-display-container img {
    position: relative;
    top: 50%;
    left: 50%;
}
/*********************OVERLAY***************************/
.gc-overlay-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2147483647 !important;
    background-color: rgb(204, 204, 204); /*the falback for ie7, ie8*/
    background-color: rgba(51, 51, 51, 0.95);
}

.gc-overlay-container {
    position: relative;
    overflow: auto;
    width: 100%;
    height: 100%;
    padding: 0;
}

.gc-overlay-fit {
    padding: 4em 5.5em 1em 5.5em;
}

.gc-overlay-display {
    position: relative;
    top: 50%;
    left: 50%;
    max-width: 100%;
    max-height: 100%;
    cursor: crosshair;
}

.gc-overlay-top-icons {
    position: absolute;
    top: 0;
    padding: 1em 1.5em 1em 0;
    width: 100%;
    height: 4em;
}

.gc-overlay-left-icons {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0 1em 0 1.5em;
    height: 100%;
    width: 5.5em;
}

.gc-overlay-right-icons {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1.5em 0 1em;
    height: 100%;
    width: 5.5em;
}
/*********************ICONS***************************/
@charset "UTF-8";

@font-face {
    font-family: "linea-arrows-10";
    src: url("../fonts/linea-arrows-10.eot");
    src: url("../fonts/linea-arrows-10.eot?#iefix") format("embedded-opentype"), url("../fonts/linea-arrows-10.woff") format("woff"), url("../fonts/linea-arrows-10.ttf") format("truetype"), url("../fonts/linea-arrows-10.svg#linea-arrows-10") format("svg");
    font-weight: normal;
    font-style: normal;
}

.gc-icon:before {
    line-height: 1;
}

.gc-icon {
    font-family: "linea-arrows-10" !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    z-index: 1020;
    cursor: pointer;
    cursor: hand;
    color: #fff;
    opacity: .7; /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; /* IE 5-7 */
    filter: alpha(opacity=70); /* Netscape */
    -moz-opacity: 0.7; /* Safari 1.x */
    -khtml-opacity: 0.7;
    height: 1em;
    width: 1em;
    line-height: 0;
    background: rgb(204, 204, 204);
    background: rgba(204, 204, 204, 0.5);
    border: 2px solid #b2b2b2;
}

    .gc-icon:hover {
        opacity: 1; /* IE 8 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; /* IE 5-7 */
        filter: alpha(opacity=100); /* Netscape */
        -moz-opacity: 1; /* Safari 1.x */
        -khtml-opacity: 1;
    }

.gc-disabled .gc-icon:hover, .gc-disabled .gc-icon:hover, .gc-disabled .gc-icon, .gc-disabled .gc-icon {
    opacity: .3; /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; /* IE 5-7 */
    filter: alpha(opacity=30); /* Netscape */
    -moz-opacity: 0.3; /* Safari 1.x */
    -khtml-opacity: 0.3;
    cursor: default;
}

/* *** ICON NEXT *** */
.gc-icon-next {
    top: 50%;
    right: -2px;
}

    .gc-icon-next:before {
        position: absolute;
        top: -2px;
        right: -2px;
        content: "\e04b";
    }

.gc-icon-next-vt {
    bottom: 0;
    left: 50%;
}

    .gc-icon-next-vt:before {
        position: absolute;
        top: -2px;
        left: -2px;
        content: "\e019";
    }

.gc-display-area .gc-icon-next {
    font-size: 2em !important;
}

.gc-thumbs-area-next .gc-icon-next {
    right: 0;
    font-size: 2em !important;
}

.gc-thumbs-area-next .gc-icon-next-vt {
    font-size: 1.5em !important;
}

.gc-overlay-area .gc-icon-next {
    position: relative;
    right: 0;
    font-size: 3em;
}
/* *** ICON PREV *** */
.gc-icon-prev {
    top: 50%;
    left: -2px;
}

    .gc-icon-prev:before {
        position: absolute;
        top: -2px;
        left: -2px;
        content: "\e03f";
    }

.gc-icon-prev-vt {
    top: 0;
    left: 50%;
}

    .gc-icon-prev-vt:before {
        position: absolute;
        top: -2px;
        left: -2px;
        content: "\e083";
    }

.gc-display-area .gc-icon-prev {
    font-size: 2em !important;
}

.gc-thumbs-area-prev .gc-icon-prev {
    font-size: 2em !important;
}

.gc-thumbs-area-prev .gc-icon-prev-vt {
    font-size: 1.5em !important;
}

.gc-overlay-area .gc-icon-prev {
    position: relative;
    left: 0;
    font-size: 3em;
}
/* *** ICON DOWNLOAD *** */
.gc-icon-download {
    right: -2px;
    bottom: 0;
    font-size: 2em;
    overflow: hidden;
}

    .gc-icon-download:before {
        position: absolute;
        top: -4px;
        left: -2px;
        content: "\e064";
    }
/* *** ICON CLOSE *** */
.gc-icon-close {
    position: relative;
    font-size: 2em;
    float: right;
}

    .gc-icon-close:before {
        position: absolute;
        content: "\e04a";
        top: -2px;
        right: -2px;
    }

.gc-icon-enlarge {
    position: relative;
    float: right;
    margin-right: 0.25em;
    font-size: 2em;
}

    .gc-icon-enlarge:before {
        position: absolute;
        content: '\e017';
        top: -2px;
        right: -2px;
    }

.gc-icon-compress {
    position: relative;
    float: right;
    margin-right: 0.25em;
    font-size: 2em;
}

    .gc-icon-compress:before {
        position: absolute;
        content: '\e053';
        top: -2px;
        right: -2px;
    }
/*********************LOADING***************************/
.gc-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 31px;
    height: 31px;
    margin-left: -15px;
    margin-top: -15px;
    background-image: url(../images/loader.gif);
}

.gc-loading3 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    font-size: 0.25em;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(102, 153, 102, 0.2);
    border-right: 1.1em solid rgba(102, 153, 102, 0.2);
    border-bottom: 1.1em solid rgba(102, 153, 102, 0.2);
    border-left: 1.1em solid #669966;
    -webkit-animation: loadGC 1.1s infinite linear;
    animation: loadGC 1.1s infinite linear;
}

    .gc-loading3,
    .gc-loading3:after {
        border-radius: 50%;
        width: 30px;
        height: 30px;
    }

@-webkit-keyframes loadGC {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loadGC {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/*********************GENERAL***************************/
.gc-hide {
    display: none;
    z-index: 0;
    opacity: 0; /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 5-7 */
    filter: alpha(opacity=0); /* Netscape */
    -moz-opacity: 0; /* Safari 1.x */
    -khtml-opacity: 0;
}

.gc-noscroll {
    overflow: hidden;
}

.gc-start {
    display: none;
    z-index: 0;
    opacity: 0; /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 5-7 */
    filter: alpha(opacity=0); /* Netscape */
    -moz-opacity: 0; /* Safari 1.x */
    -khtml-opacity: 0;
}
