<?xml version="1.0"?>
<config>
    <modules>
        <Amm_Product>
            <version>0.0.1</version>
        </Amm_Product>
    </modules>  
	
	<frontend>
       <routers>
          	<product>
              	<use>standard</use>
              	<args>
                 	<module>Amm_Product</module>
                 	<frontName>product</frontName>
              	</args>
           	</product>
       </routers>
	   <layout>
		   <updates>
				<product>
					 <file>product.xml</file>
				 </product>
			</updates>
		</layout>
    </frontend>

    <admin>
    	<routers>
			 <product>
				<use>admin</use>
				<args>
				   <module>Amm_Product</module>
				   <frontName>product</frontName>
				</args>
			 </product>
		</routers>
    </admin>

    <adminhtml>
	   <layout>
		  <updates>
			  <product>
				  <file>product.xml</file>
			   </product>
		  </updates>
	   </layout>
	   <menu>
		  <adminhtml translate="title" module="adminhtml">
		  	 <title>Customer's Products</title>
			 <sort_order>100</sort_order>
			 <children>
			 	<productindex translate="title" module="adminhtml">
		         	<title>View All Products</title>
		         	<action>product/adminhtml_index</action>
					<sort_order>5</sort_order>
		       	</productindex>
			  </children>
		   </adminhtml>
		</menu>
	</adminhtml>

		<global>
			<blocks>
				<product>
					<class>Amm_Product_Block</class>
				</product>
			</blocks>
			<helpers>
	            <product>
	                <class>Amm_Product_Helper</class>
	            </product>  
	        </helpers>
			<models>
				<product>
					 <class>Amm_Product_Model</class>
					 <resourceModel>product_mysql4</resourceModel>
				</product>
				<product_mysql4>
					 <class>Amm_Product_Model_Mysql4</class>
					 <entities>
						 <product>
						   <table>amm_product</table>
						 </product>
					  </entities>
				</product_mysql4>
			</models>
				<!-- allow the plugin to read and write -->
				<resources>
					<product_setup>
		                <setup>
		                    <module>Amm_Product</module>		                    
		                    <class>Amm_Product_Model_Mysql4_Setup</class>
		                </setup>
		            </product_setup>
		        
						<!-- connection to write -->
						<product_write>
							<connection>
								<use>core_write</use>
							</connection>
						</product_write>
						
						<!-- connection to read -->
					   <product_read>
						  <connection>
							 <use>core_read</use>
						  </connection>
					   </product_read>
				</resources>
		</global>
</config>